body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.dropdown{
  position:relative;
}

button{
  padding:10px 16px;
  cursor:pointer;
}

ul{
  list-style:none;
  padding:0;
  margin-top:6px;
  background:#0f172a;
  color:white;
  border-radius:8px;
  display:none;
  position:absolute;
  width:140px;
}

li{
  padding:10px;
  cursor:pointer;
}

li:hover{
  background:#1e293b;
}
